@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --text-color: #044389; 
  --background-color: #d1d9d9;
  --accent-color: #5995ED;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}

a {
  color: var(--background-color);
  text-decoration: none;

  font-weight: bold;
  font-size: 16px;
}

.nav-transparent {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}

.nav-colored {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color);
  padding: 8px 12px;
}

.navbar__logo > a {
  font-size: 24px;
  color: var(--text-color);
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: var(--text-color);
  border-radius: 4px;
}

.navbar__icons {
  list-style:none;
  color: var(--background-color);
  display: flex;
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--text-color);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
}

.home > h1 {
  color: var(--text-color);
  font-size: 100px;
  text-align: center;
  line-height: 1.3;
  margin: 0 auto -20px auto;
}

.home > h3 {
  color: var(--accent-color);
  font-family: Roboto, serif;
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  line-height: 1.0;
  letter-spacing: 2px;
}

.about {
  background-color: var(--text-color);
  text-align: center;
  padding: 100px 30px;
  line-height: 1.5;
}

.about > img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin: 30px auto 50px auto;
}

.about > p {
  padding: 0 50px;
  margin: 30px;
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: var(--background-color);
}

.about > a {
  margin-top: 100px;
}

.projects {
  text-align: center;
  padding: 100px 30px;
  background-color: var(--background-color);
}

.projects-header {
  max-width: 300px;
  margin: 0 auto 100px auto;
  border-bottom: 3px solid var(--text-color);
  font-size: 68px;
}

.projects > h1 {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 60px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.project-tile {
  background-color: var(--text-color);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 2px;
}

.project-image {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

img {
  display: block;
}

.project-title {
  font-size: 18px;
}

.btn-blue {
  font-size: 18px;
  padding: 16px;
  border-radius: 4px;
  background-color: var(--accent-color); 
  color: var(--background-color);
  margin-top: 30px;
}

.btn-blue:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}
/* 
#btnTop {
  position: fixed;
  bottom: 10px;
  float: right;
  left: 88%;
  max-width: 30px;
  width: 100%;
  background-color: transparent;
  border: none;
}

#btnTop > a {
  font-size: 50px;
} */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
/* For a screen < 720px, this CSS will be read */
.container {
    width: 500px;
  }
}
@media (max-width: 540px) {
/* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items:flex-start;
    /* padding: 8px 24px; */
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}
