@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;
  --text-color: #d1d9d9;
  --background-color: #044389;
  --accent-color: #5995ED;

  /* annimation */
  --animation-duration: 300ms;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  background-color: var(--text-color);
  color: var(--background-color);
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}

h1 {
  color: var(--background-color);
  font-family: Roboto, serif;
  font-size: 30px;
  line-height: 1.3;
  width: min-content;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  margin-bottom: 15px;
}

h2 {
  color: var(--accent-color);
  font-family: Courier, monospace;
  font-size: 15px;
  line-height: 1.0;
}

a {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: var(--accent-color);
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar__icons {
  list-style:none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

.img-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform var(--animation-duration) ease;
}

.card {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
}

.container {
  width: 600px;   
  margin: 30px auto;
}

.text-justify {
  text-align: justify;
}

.btn-blue {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}

.btn-blue:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}
    
#introduction p {
  margin-bottom: 30px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
/* For a screen < 720px, this CSS will be read */
.container {
    width: 500px;
  }
}
@media (max-width: 540px) {
/* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items:flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}
